*{
    list-style: none;
    text-decoration: none;
}

.menu{
    display: grid;
    grid-template-columns: auto auto;
    background-color: red;
    justify-content: space-around;
    align-content: space-around;
    
}

.menu-gridItem{
    background-color: lightblue;
    justify-content: space-around;
    align-items: center;
    width: 40em;
    height: 30em;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}
.menu-img{
    width: 35em;
    height: 19em;
}

a{
    font-size: 2.5em;
    color: black;
    font-weight: bold;
}

a:hover{
    color: darkgray;
    transition-duration: 0.3s;
}



@media screen and (max-width: 950px){

    .menu-gridItem{
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 30em;
    display: flex;
    margin-top: 15px;
    }
    
    .menu{
        grid-template-columns: auto;
    }

    
}

@media screen and (max-width: 500px){

    .menu-gridItem{
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 25em;
    display: flex;
    margin-top: 15px;
    }

    .menu{
        grid-template-columns: auto;
    }

    
}

